---
import { Image } from 'astro:assets';
import { formatDate } from '@utils/index';

const { blog } = Astro.props;
const { title, image, publishDate } = blog.data;

const formattedDate = formatDate(publishDate);
---

<a
  href={`/blog/${blog.slug}`}
  class="card blog-card block group mx-auto max-w-lg bg-white border border-gray-200 rounded-2xl overflow-hidden transition-shadow duration-500 shadow-md shadow-neutral-200/30 hover:shadow-neutral-200/70 hover:shadow-lg hover:border-gray-300"
  data-tilt
  data-tilt-max="5"
  data-tilt-scale="1.04"
  data-tilt-reverse="true"
  data-tilt-speed="1500"
  data-tilt-glare="true"
  data-tilt-max-glare="0.3"
>
  <article class="flex flex-col overflow-hidden h-full">
    <Image
      src={image.src}
      alt={image.alt}
      format="webp"
      class="shrink-0 aspect-[2/1] border-b border-gray-100 object-cover object-top opacity-75 group-hover:opacity-100 group-focus:opacity-100 transition-opacity duration-500 overflow-hidden"
      widths={[800, 1200, 1600]}
      loading="eager"
    />

    <div
      class="flex flex-col justify-center shrink-1 p-4 bg-white h-full text-center shadow-[0_-5px_20px_0_rgba(0,0,0,0.1)] group-hover:shadow-none group-focus:shadow-none transition-shadow duration-500"
    >
      <time class="text-xxs text-gray-400 font-mono" datetime={formattedDate}
        >{formattedDate}</time
      >
      <h3
        class="text-pretty text-3xl font-heading text-gray-700 group-hover:text-black group-focus:text-black transition-colors"
      >
        {title}
      </h3>
    </div>
  </article>
</a>
