---
import { siteDescription, siteTitle, socials } from '../constants';
---

<header
  class="container flex flex-col sm:flex-row justify-between items-center pt-5 pb-8 sm:pb-12"
>
  <a href="/" class="order-1 sm:order-none">
    <p class="site-title text-gradient text-2xl font-display relative">
      {siteTitle}
    </p>
  </a>
  <ul transition:name="socials" class="flex sm:gap-2">
    {
      socials.map(social => (
        <li>
          <a
            href={social.url}
            target="_blank"
            rel="noopener noreferrer"
            class="group"
          >
            <p class="sr-only">{social.name}</p>
            <i
              class={`${social.icon} text-xl lg:text-2xl text-purple opacity-30 hover:opacity-60 group-focus:opacity-60 transition-opacity w-10 h-10 flex items-center justify-center`}
            />
          </a>
        </li>
      ))
    }
  </ul>
  <p
    class="text-xs sm:text-sm lg:text-base text-black opacity-70 font-mono tracking-tight order-2 sm:order-none mt-1 sm:mt-0"
  >
    {siteDescription}
  </p>
</header>

<!-- <style>
  .site-title::after {
    content: '';
    display: block;
    width: 106%;
    left: -3%;
    height: 12%;
    bottom: 16%;
    background: #5ea821;
    position: absolute;
    mix-blend-mode: plus-lighter;
    border-radius: 0.1em;
  }

  @media screen(sm) {
    .site-title::after {
      bottom: 14%;
    }
  }
</style> -->
