---
import { Image } from 'astro:assets';

const { project, index } = Astro.props;
const { title, tags, images } = project.data;
const featuredImage = images[0];

// eager load first 3 images
const imageLoading = index < 3 ? 'eager' : 'lazy';

const tagsToShow = tags.slice(0, 3);
---

<a
  transition:name={`project-${title}-card`}
  href={`/projects/${project.slug}`}
  class="card group mx-auto max-w-lg bg-white border border-gray-200 rounded-2xl overflow-hidden transition-shadow duration-500 hover:shadow-lg hover:shadow-neutral-200/50 hover:z-10 focus:z-10 hover:border-gray-300"
  data-tilt
  data-tilt-max="5"
  data-tilt-scale="1.04"
  data-tilt-reverse="true"
  data-tilt-speed="1500"
  data-tilt-glare="true"
  data-tilt-max-glare="0.3"
>
  <article class="h-full">
    <Image
      src={featuredImage.src}
      alt={featuredImage.alt}
      format="webp"
      class="aspect-[2/1] border-b border-gray-100 object-cover object-top opacity-70 group-hover:opacity-100 group-focus:opacity-100 transition-opacity duration-500"
      widths={[800, 1200, 1600]}
      loading={imageLoading}
    />
    <div
      class="h-full p-4 bg-white shadow-[0_-5px_20px_0_rgba(0,0,0,0.1)] group-hover:shadow-none group-focus:shadow-none transition-shadow duration-500"
    >
      <h3
        transition:name={`project-${title}-title`}
        class="text-pretty text-3xl font-heading text-center mb-1 text-gray-600 group-hover:text-black group-focus:text-black transition-colors"
      >
        {title}
      </h3>

      <ul
        class="flex flex-wrap gap-1 justify-center saturate-[.3] group-hover:saturate-100 group-focus:saturate-100 mt-2"
      >
        {
          tagsToShow.map((tag: string, index: number) => (
            <li
              class={`text-xxs tracking-tight font-mono rounded-full px-3 py-1 inline-block ${index % 2 === 0 ? 'bg-purple-light text-purple' : 'bg-green-light text-green'}`}
            >
              {tag}
            </li>
          ))
        }
        {
          tags.length > tagsToShow.length && (
            <li class="text-xxs tracking-tight font-mono rounded-full px-2 py-1 inline-block bg-gray-100 text-gray-600">
              {`+ ${tags.length - tagsToShow.length}`}
            </li>
          )
        }
      </ul>
    </div>
  </article>
</a>

<style is:global>
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
