---
import { Image } from 'astro:assets';

const { project } = Astro.props;
const { title, tags, images } = project.data;
const featuredImage = images[0];
---

<a
  href={`/projects/${project.slug}`}
  transition:name={`project-${title}-card`}
  class="group max-w-lg bg-white border border-gray-200 rounded-2xl overflow-hidden transition-all duration-500 hover:shadow-lg hover:shadow-neutral-200/50 hover:-translate-y-2"
>
  <article
    class="bg-[#e6d7fa4f] group-hover:bg-opacity-100 group-focus:bg-opacity-100 transition-colors"
  >
    <Image
      src={featuredImage.src}
      alt={featuredImage.alt}
      format="webp"
      class="aspect-video border-b border-gray-200 object-cover object-top opacity-50 transition-all duration-500 grayscale group-hover:grayscale-0 group-hover:opacity-100 group-focus:grayscale-0 group-focus:opacity-100"
      widths={[800, 1200, 1600]}
    />
    <div class="p-4 bg-white">
      <h3
        transition:name={`project-${title}-title`}
        class="text-2xl font-bold text-center mb-2 text-gray-600 group-hover:text-black group-focus:text-black transition-colors"
      >
        {title}
      </h3>

      <ul
        transition:name={`project-${title}-tags`}
        class="text-center saturate-50 group-hover:saturate-100 group-focus:saturate-100"
      >
        {
          tags.map((tag: string, index: number) => (
            <li
              class={`text-xs rounded-full px-3 py-1 mr-1 mt-1 inline-block ${index % 2 === 0 ? 'bg-purple-800/10 text-purple-800' : 'bg-[#5EA821]/10 text-[#5EA821]'}`}
            >
              {tag}
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</a>
